@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
background-color: #ffffff;
  
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
}


*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
    padding-left: 1em;
}

.title {
    background-color: #8a181b;
}

.main {
    background-color: #ffffff;
}

a:focus {
    outline: 3px solid #000;
}

a:hover,
a:active {
    /*
    its ok to remove the focus rectangle for mouse users,
    its not okay to remove it for keyboard users!!!!!!!!!!
    */
    
    outline:none;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.skip-links a{
    position: absolute;
    top: -3em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 0.5em 0.75em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}
    

img {
  display: block;
  width: 100%;
}


.nav {
    padding: 0;
    list-style-type: none;
}

.nav a{
    display: block;
    text-decoration: none;
    color: #fff;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current, 
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #0074D9;
    
    color: #fff;
}

header {
    background-color: #black;
    overflow: hidden;
}

.logo {
    margin-left: 1em;
    width: 100%;
    max-width: 5em;
    
}


.top {
    background-color: #000000;
    padding-bottom: 2em;
    padding-top: 1em;
}

.footer {
    background-color: #000000;
    overflow: hidden;
}

.billboard {
    overflow: hidden;
    background-size: 80rem;
    background-repeat: no-repeat;
    max-height: 30rem;
}

h1 {
    color: #ffffff;
    background-color: #8a181b;
    padding-left: .5em;
}

p {
    background-color: rgba(138, 24, 27, 0.7);
    padding-left: .5em;
    margin-top: -1em;
}

.image {
    position: relative;
    width: 100;
}

figcaption {
    background-color: #8a181b;
    font-size: 2em;
    color: #ffffff;
    padding-left: 1em;
}

figure {
    overflow: hidden;
    padding-bottom: 1em;
}
    



.back {
    background-color: ;
    opacity: 0.6;
}

.subhead{
    color: white; 
}

h2 {
    text-align: left;
    font-size:4em;
    color: #ffffff;
}

.sign a {
    background-color: yellow;
    text-decoration: none;
    padding: .75em;
    border: none;
    border-radius: 20px;
    margin: 0;

}




.text {
    padding: 1em;
    color: white;
}

.pricesign {
    text-decoration: none;
    background-color: yellow;
    border-radius: 8px;
    padding: .5em;
    margin: 1em
}

.bottombutton {
    padding-bottom: 3em;
    text-align: center;
    text-decoration: none
}

.end {
    padding: 0;
    padding-top: 2em;
    text-align: center;
}



@media only screen and (min-width: 20em) {
   
    
    .nav-footer {
        text-align: left;
    }
    
    .copyright {
        text-align: top;
    }
   
.thanks {
    font-size: 5em;
}

.icons {
    max-width: 10em;
}

.icon1 {
    max-width: 5em;
}

.icon2 {
    max-width: 5em;
}

.icon3 {
    max-width: 5em;
}

h1 {
    font-size: 1em;
}

p {
    font-size: 1em;
    margin-top: -25px;
}
}


@media only screen and (min-width: 38em) {
    
   
    .nav {
        text-align: center;
    }
    
    .nav li {
        display: inline-block
    }
    .nav-footer {
        text-align: right;
    }
    
    .sign a {
        font-size: 3rem;
    }

    .sign {
        padding-top: 4em;
    }
    
   .thanks {
       font-size: 10em;
   }
    .bottombutton {
        padding: 0;
        padding-bottom: 3em;
        text-align: center;
}
    
.icons {
    max-width: 10em;
}
    
h1 {
    font-size: 3em;
}

p {
    font-size: 1.5em;
    margin-top: -26px;
}
}


@media only screen and (min-width: 60em) { 



    
    
    }
    .bottombutton {
        padding: 0;
        padding-bottom: 3em;
        text-align: center;
}    

.icons {
    max-width: 25em;
}
